<div class="outer-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <div class="input-group input-group-lg">
          <input (keyup)="searchTerm$.next($event.target.value)" class="form-control" placeholder="Enter Minister Name/City/Pincode">
          <div class="input-group-addon">
            <i class="fa fa-search fa-3x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <div class="input-group">
          <div class="container div-special">
            <ng-container *ngIf="showLocations">
              <button *ngFor="let geographicalArea of geographicalAreas" type="button" class="btn btn-info" style="margin:2px" (click)="getLocationResults(geographicalArea)">
                {{geographicalArea}}</button>
            </ng-container>
            <button type="button" class="btn btn-info" style="margin:2px" (click)="getLocations()">
              {{buttonShowLocations}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="custom-hr" />
  <div style="background-color:rgb(199, 219, 219);">
    <div class="col-lg-12" *ngIf='isResultEmpty()'>
      <div class="container text-center">
        <div class="container">No Minister found!!!</div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf='!isResultEmpty()'>
      <div class="card div-special" *ngFor="let minister of ministers | slice:0:9 " style="width: 20rem;">
        <img class="card-img-top" src={{minister.profileUrl}} alt="Card image cap">
        <div class="card-block div-special">
          <h4 class="card-title">{{ minister.salutation}}. {{minister.fullName }}</h4>
          <p class="card-text">{{minister.brief}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item ">
            <div class="row justify-content-center">
              <img src={{minister.partyImageUrl}} />&nbsp; {{minister.party}}
            </div>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-center">
              {{minister.born}}</div>
          </li>
        </ul>
        <div class="card-block div-special">
          <div class="row justify-content-center">
            <a [hidden]="isValueEmpty(minister.twitterUrl)" href={{minister.twitterUrl}} class="card-link">
              <i class="fa fa-twitter-square social-icon"></i>
            </a>
            <a [hidden]="isValueEmpty(minister.facebookUrl)" href={{minister.facebookUrl}} class="card-link">
              <i class="fa fa-facebook-official social-icon"></i>
            </a>
            <a [hidden]="isValueEmpty(minister.instagramUrl)" href={{minister.instagramUrl}} class="card-link">
              <i class="fa fa-instagram social-icon"></i>
            </a>
            <a [hidden]="isValueEmpty(minister.websiteUrl)" href={{minister.websiteUrl}} class="card-link">
              <i class="fa fa-internet-explorer social-icon"></i>
            </a>
          </div>
          <div class="card-block">
            <div class="row justify-content-center">
              <a class="card-link" [routerLink]="['/minister-detail',minister.id]">
                <u>View more</u>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="custom-hr" />
</div>
