<div class="outer-container">
  <video playsinline autoplay muted loop poster="{{videoUrl}}" id="bgvid">
    <source [src]="videoUrl" type="video/mp4"> Your browser does not support HTML5 video.
  </video>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px">
        <div class="container text-center text-white">
          <img class="img-thumbnail" src={{minister.profileUrl}}>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="container text-center text-white">
          <h1 class="jumbotron-heading">{{minister.salutation}}. {{minister.fullName}}</h1>
          <blockquote>
            {{minister.brief}}</blockquote>
          <a [hidden]="isValueEmpty(minister.twitterUrl)" href={{minister.twitterUrl}} class="card-link">
            <i class="fa fa-twitter-square social-icon fa-2x"></i>
          </a>
          <a [hidden]="isValueEmpty(minister.facebookUrl)" href={{minister.facebookUrl}} class="card-link">
            <i class="fa fa-facebook-official social-icon fa-2x"></i>
          </a>
          <a [hidden]="isValueEmpty(minister.instagramUrl)" href={{minister.instagramUrl}} class="card-link">
            <i class="fa fa-instagram social-icon fa-2x"></i>
          </a>
          <a [hidden]="isValueEmpty(minister.websiteUrl)" href={{minister.websiteUrl}} class="card-link">
            <i class="fa fa-internet-explorer social-icon fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="custom-hr" />
  </div>
  <div style="background-color:rgb(199, 219, 219);">
    <div class="education">

    </div>
  </div>
  <div class="container text-center text-white">
    <label style="vertical-align: middle; margin-top: 10px">
      <h3>Social Presence</h3>
    </label>
    <hr class="custom-hr" />
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-12">
        <div class="container">
          <div class="fb-page" [attr.data-href]="minister.facebookUrl" data-tabs="timeline" data-small-header="true" data-adapt-container-width="false"
            data-hide-cover="true" data-show-facepile="true">
            <blockquote [attr.cite]="minister.facebookUrl" class="fb-xfbml-parse-ignore">
              <a [href]="minister.facebookUrl">{{minister.fullName}}</a>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 10px">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-space">
              <div class="fb-share-button" [attr.data-href]='getCurrentPageUrl()' data-layout="box_count" data-size="small" data-mobile-iframe="true">
                <div class="container">
                  <a target="_top" [href]='getFBSharePageUrl()' class="fb-xfbml-parse-ignore">Share</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 custom-space">
              <div class="g-plus" data-action="share" data-annotation="bubble" data-height="50" [attr.data-href]='getCurrentPageUrl()'></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 custom-space">
              <a class="twitter-share-button" [href]='getTwSharePageUrl()' data-size="large">
                Tweet</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 custom-space">
              <iframe *ngIf="!isValueEmpty(minister.speechUrl)" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen [src]='getSanitizedUrl(minister.speechUrl)'>
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 10px">
        <div class="container">
          <a *ngIf="!isValueEmpty(minister.twitterUrl)" class="twitter-timeline" data-width="420" data-height="490" data-dnt="true"
            [href]="minister.twitterUrl">{{minister.fullName}}</a>
        </div>
      </div>
    </div>
    <hr class="custom-hr" />
  </div>
</div>
