<div class="outer-container" style="background-color: rgb(227, 242, 252)">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img src={{minister.profileUrl}}>
      </div>
      <div class="col-lg-8">
        <h1 class="jumbotron-heading">{{minister.salutation}}. {{minister.fullName}}</h1>
        <p class="lead text-muted">{{minister.brief}}</p>
        <div class="row justify-content-center">
          <a href={{minister.twitterProfile}} class="card-link">
            <i class="fa fa-twitter-square social-icon fa-2x"></i>
          </a>
          <a href={{minister.facebookProfile}} class="card-link">
            <i class="fa fa-facebook-official social-icon fa-2x"></i>
          </a>
          <a href={{minister.instagramProfile}} class="card-link">
            <i class="fa fa-instagram social-icon fa-2x"></i>
          </a>
          <a href={{minister.website}} class="card-link">
            <i class="fa fa-internet-explorer social-icon fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
