<div class="outer-container">
  <video playsinline autoplay muted loop poster="{{videoUrl}}" id="bgvid">
    <source [src]="videoUrl" type="video/mp4"> Your browser does not support HTML5 video.
  </video>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px">
        <div class="container text-center text-white">
          <img class="img-thumbnail" src={{minister.profileUrl}}>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div class="container text-center text-white">
          <h1 class="jumbotron-heading">{{minister.salutation}}. {{minister.fullName}}</h1>
          <blockquote>
            {{minister.brief}}</blockquote>
          <a [hidden]="isValueEmpty(minister.twitterUrl)" href={{minister.twitterUrl}} class="card-link">
            <i class="fa fa-twitter-square social-icon fa-2x"></i>
          </a>
          <a [hidden]="isValueEmpty(minister.facebookUrl)" href={{minister.facebookUrl}} class="card-link">
            <i class="fa fa-facebook-official social-icon fa-2x"></i>
          </a>
          <a [hidden]="isValueEmpty(minister.instagramUrl)" href={{minister.instagramUrl}} class="card-link">
            <i class="fa fa-instagram social-icon fa-2x"></i>
          </a>
          <a [hidden]="isValueEmpty(minister.websiteUrl)" href={{minister.websiteUrl}} class="card-link">
            <i class="fa fa-internet-explorer social-icon fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="custom-hr" />
  </div>
  <div style="background-color:rgb(199, 219, 219);">
    <div class="education">

    </div>
  </div>
  <div class="container text-center text-white">
    <label style="vertical-align: middle; margin-top: 10px">
      <h3>Social Presence</h3>
    </label>
    <hr class="custom-hr" />
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-12">
        <div class="container">
          <iframe [src]='getMinisterFBProfile(minister.facebookUrl)' width="340" height="500" style="border:none;overflow:hidden" scrolling="no"
            frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 10px">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-space">
              <a target="_top" class="btn btn-primary" [href]='getFBSharePageUrl()'>Facebook</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 custom-space">
              <a target="_blank" class="btn btn-info" [href]='getTwSharePageUrl()'>
                Twitter</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 custom-space">
              <a target="_blank" class="btn btn-danger" [href]='getGPSharePageUrl()'>Google+</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 custom-space">
              <iframe *ngIf="!isValueEmpty(minister.speechUrl)" width="100%" height="100%" frameborder="2" webkitallowfullscreen mozallowfullscreen
                allowfullscreen [src]='getSanitizedUrl(minister.speechUrl)'>
              </iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 10px">
        <div class="container">
          <!-- <a *ngIf="!isValueEmpty(minister.twitterUrl)" class="twitter-timeline" data-width="420" data-height="490" data-dnt="true"
            [href]="minister.twitterUrl">{{minister.fullName}}</a> -->
          <a class="twitter-timeline" [href]='getMinisterTWProfile(minister.twitterUrl)' data-width="420" data-height="490">
          </a>
        </div>
      </div>
    </div>
    <hr class="custom-hr" />
  </div>
</div>
