<app-navbar></app-navbar>

<div class="container">
  <div class="row  justify-content-center">
    <div class="col-sm-12">
      <div class="input-group">
        <input (keyup)="searchTerm$.next($event.target.value)" class="form-control" placeholder="Enter Minister Name/City/Pincode">
        <div class="input-group-addon">
          <i class="fa fa-search fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class=" card " *ngFor="let result of results | slice:0:9 " style="width: 20rem; ">
    <img class="card-img-top " src="assets/nature.jpg " alt="Card image cap ">
    <div class="card-block ">
      <h4 class="card-title ">{{ result.name }}</h4>
      <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush ">
      <li class="list-group-item ">Cras justo odio</li>
      <li class="list-group-item ">Dapibus ac facilisis in</li>
      <li class="list-group-item ">Vestibulum at eros</li>
    </ul>
    <div class="card-block">
      <a href="# " class="card-link ">Card link</a>
      <a href="# " class="card-link ">Another link</a>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
