/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 80px;
  margin-bottom: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.div-special {
  padding: .7%;
  margin: .7%;
}

.outer-container {
  padding: 2%;
  margin: 2%;
}

html {
  position: relative;
  min-height: 100%;
}
